!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title Llama Streams
    %meta{:content => "Find, browse and stream live video. And a pinch of llama.", :name => "description"}/
    %meta{:content => "Find, browse and stream live video. And a pinch of llama.", :name => "twitter:card"}
    %meta{:content => "@clay_selby", :name => "twitter:site"}
    %meta{:content => "LLama Streams", :name => "twitter:title"}
    %meta{:content => "Find, browse and stream live video. And a pinch of llama.", :name => "twitter:description"}
    %meta{:content => "@clay_selby", :name => "twitter:creator"}
    %meta{:content => "http://www.llamastreams.com/llama_logo.png", :name => "twitter:image"}
    %meta{:content => "LLama Streams", :property => "og:title"}/
    %meta{:content => "article", :property => "og:type"}/
    %meta{:content => "http://www.llamastreams.com/", :property => "og:url"}/
    %meta{:content => "http://llamastreams.com/llama_logo.png", :property => "og:image"}/
    %meta{:content => "Find, browse and stream live video. And a pinch of llama.", :property => "og:description"}/
    %meta{:content => "LLama Streams", :property => "og:site_name"}/

    %title= content_for?(:title) ? yield(:title) : "LLama Streams"
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    %link{:href => "//vjs.zencdn.net/4.12/video-js.css", :rel => "stylesheet"}
    %script{:src => "//vjs.zencdn.net/4.12/video.js"}
    %script{:src => "javascripts/src/videojs-media-sources.js"}
    %script{:src => "javascripts/src/videojs-hls.js"}
    %script{:src => "javascripts/src/xhr.js"}
    %script{:src => "javascripts/src/flv-tag.js"}
    %script{:src => "javascripts/src/stream.js"}
    %script{:src => "javascripts/src/exp-golomb.js"}
    %script{:src => "javascripts/src/h264-stream.js"}
    %script{:src => "javascripts/src/aac-stream.js"}
    %script{:src => "javascripts/src/metadata-stream.js"}
    %script{:src => "javascripts/src/segment-parser.js"}
    %script{:src => "javascripts/src/m3u8/m3u8-parser.js"}
    %script{:src => "javascripts/src/playlist-loader.js"}
    %script{:src => "javascripts/src/pkcs7.unpad.js"}
    %script{:src => "javascripts/src/decrypter.js"}
    %script{:src => "javascripts/src/bin-utils.js"}
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag
    = analytics_init if Rails.env.production?

  %body{"ng-app" => "app.meerkatSearch"}
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=217566221638232&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %section
      .row.center
        = yield

